<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create coach</title>
</head>
<body>
<form action="#" th:action="@{/coach-create}" th:object="${coachRequestDto}" method="post">
    <p>First Name: <input type="text" th:field="*{firstName}" /></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    <p>Patronymic: <input type="text" th:field="*{patronymic}" /></p>
    <input type="submit" value="Create coach">
</form>
</body>
</html>
