<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Schedules</title>
</head>
<body>
<div th:switch="${schedules}">
    <h2 th:case="null">No coaches found!</h2>
    <div th:case="*">
        <h2>Schedules</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Begin</th>
                <th>End</th>
                <th>Directory Id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule : ${schedules}">
                <td th:text="${schedule.id}"></td>
                <td th:text="${schedule.begin}"></td>
                <td th:text="${schedule.end}"></td>
                <td th:text="${schedule.directoryId}"></td>
                <td><a th:href="@{schedule-update/{id}(id=${schedule.id})}">Update</a></td>
                <td><a th:href="@{schedule-delete/{id}(id=${schedule.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/schedule-create">Create</a></p>
</div>
</body>
</html>
