<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Schools</title>
</head>
<body>
<div th:switch="${schools}">
    <h2 th:case="null">No coaches found!</h2>
    <div th:case="*">
        <td><a href="/directories">Directories</a></td>
        <td><a href="/ranks">Ranks</a></td>
        <td><a href="/schedules">Schedules</a></td>
        <td><a href="/students">Students</a></td>
        <td><a href="/coaches">Coaches</a></td>
        <td><a href="/units">Units</a></td>a
        <h2>Schools</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>School name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="school : ${schools}">
                <td th:text="${school.id}"></td>
                <td th:text="${school.address}"></td>
                <td th:text="${school.schoolName}"></td>
                <td><a th:href="@{school-update/{id}(id=${school.id})}">Update</a></td>
                <td><a th:href="@{school-delete/{id}(id=${school.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/school-create">Create</a></p>
</div>
</body>
</html>
