<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<div th:switch="${students}">
    <h2 th:case="null">No coaches found!</h2>
    <div th:case="*">
        <td><a href="/directories">Directories</a></td>
        <td><a href="/ranks">Ranks</a></td>
        <td><a href="/schedules">Schedules</a></td>
        <td><a href="/coaches">Coaches</a></td>
        <td><a href="/schools">Schools</a></td>
        <td><a href="/units">Units</a></td>
        <h2>Students</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Patronymic</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Directory Id</th>
                <th>School Id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.patronymic}"></td>
                <td th:text="${student.phoneNumber}"></td>
                <td th:text="${student.address}"></td>
                <td th:text="${student.schoolId}"></td>
                <td th:text="${student.directoryId}"></td>
                <td><a th:href="@{student-update/{id}(id=${student.id})}">Update</a></td>
                <td><a th:href="@{student-delete/{id}(id=${student.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/student-create">Create</a></p>
</div>
</body>
</html>
