<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>
</head>
<body>
<form action="#" th:action="@{/student-create}" th:object="${studentRequestDto}" method="post">
    <p>First Name: <input type="text" th:field="*{firstName}" /></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    <p>Patronymic: <input type="text" th:field="*{patronymic}" /></p>
    <p>Phone number: <input type="text" th:field="*{phoneNumber}" /></p>
    <p>Address: <input type="text" th:field="*{address}" /></p>
    <p>School Id: <input type="text" th:field="*{schoolId}" /></p>
    <p>Directory Id: <input type="number" th:field="*{directoryId}" /></p>
    <input type="submit" value="Create student">
</form>
</body>
</html>
